<!doctype html>
<html lang="ru">
  <head>
	  <title>База обновлена </title>
  </head>
  <body style="background-color:silver;">
	  <center>
		  <font color="{{color}}">	  <h3> {{ taskstatus }}. Нужно закрыть вкладку <br> </font>
			  <br>Комментарий: {{comment}}<br>
			  Отдел/Город: {{city}} <br> 
			  Тема звонка: {{header}} <br> 
			  Контактный номер: {{sip}}<br>
			  <hr>
			  <div class="textcols1-quote" margin-top=2% width=90% >
			  {{ quote }} 
			  </div>
          </center>
	  </body>
</html>

